<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a book</title>
</head>
<body>
    <form action="/books" method="POST">
        <input type="text" placeholder="Title" name="title" value="title">
        <input type="text" placeholder="Genre" name="genre" value="genre">
        <input type="text" placeholder="Author" name="author" value="author">
        <button type="submit">Add a book</button>
    </form>
</body>
</html>