<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to BooksAPI</h1>
    <a href="/addbook">Add a book</a>
    <br>
    <a href="/books">Book list</a>
</body>
</html>